body
{
        font-family: 'poppins' , sans-serif;
        background-color: white;
        color: black;
        line-height: 1.6;
        margin:0;
        padding: 0;
}
h1 , h2 {
         font-weight:700;
}

p
{
    font-weight: 200;
}

a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color:blue;
    text-decoration: underline;
}

header {
    background: linear-gradient(to right , blue , orange);
    color: white;
    padding: 20px 0;
    text-align: center;
}
section{
    padding: 10px;
    background: white;
}
.fas, .fab {
    margin-right: 1px;
    color: inherit; 
}
.icon-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 10px;
    color: white;
    font-size: 24px;
    transition: transform 0.3s ease;
}
.email-icon{
    background-color: red;
}
.linkedin-icon{
    background-color: blue;
}
.icon-link:hover {
    transform: scale(1.1);
    color: #fff;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    object-fit: cover;
}
ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* Center align the list without flex */
}

ul li {
    display: inline-block; /* Display list items inline for horizontal layout without flex */
    background: #f0f2f5;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 0 5px; /* Add spacing between list items */
}

form {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: left; /* Align form elements to the left */
}

.form-group {
    margin-bottom: 20px; 
}

.form-group label {
    display: block; /* Make label a block element */
    margin-bottom: 10px; /* Space between label and input */
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form textarea{
    width: 80%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid gray;
    border-radius: 10px;
}
form button {
    display: block; /* Block level so it doesn't inline */
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px; /* Space above the button */
    background-image: linear-gradient(to right, #831bcd, #f9620b);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
form button:hover{
    background: green;
}
footer{
    background: linear-gradient(to right , blue , orange);
    margin: 10px;
    color: white;
}